<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../assets/custom/style.css">

    <title>Halaman Kuis</title>
</head>
<body>
    <div class="container-fluid">
    <h1 class="text-center mt-3 text-warning">Mari Menghafal Huruf Hijaiyah</h1>
    <div class="kotak-soal">
        <img class="gsoal" style="margin: auto;">
    </div>


    <div class="kotak-hasil">
        <h1 class="hasil" ></h1>
    </div>

    <div>
        <button type="button" class="tnext btn btn-warning mt-5 mb-2 ml-5" >Next &raquo;</button>
        <button class="score mt-5 mb-2 btn btn-success" style="display: inline-block;">Skore: 0</button>
    </div>

    <div class="kotak-jawaban">
        <ul>
            <li class="1alif">
                <h6>alif</h6>
            </li>
            <li class="2ba">
                <h6>ba</h6>
            </li>
            <li class="3ta">
                <h6>ta</h6>
            </li>
            <li class="4tsa">
                <h6>tsa</h6>
            </li>
            <li class="5jim">
                <h6>jim</h6>
            </li>
            <li class="6kha">
                <h6>kha</h6>
            </li>
            <li class="7kho">
                <h6>kho</h6>
            </li>
            <li class="8dal">
                <h6>dal</h6>
            </li>
            <li class="9dzal">
                <h6>dzal</h6>
            </li>
            <li class="10ro">
                <h6>ro</h6>
            </li>
            <li  class="11zai">
                <h6>zai</h6>
            </li>
            <li class="12sin">
                <h6>sin</h6>
            </li>
            <li class="13syin">
                <h6>syin</h6>
            </li>
            <li class="14shot">
                <h6>shot</h6>
            </li>
            <li class="15dhod">
                <h6>dhod</h6>
            </li>
            <li class="16tho">
                <h6>tho</h6>
            </li>
            <li class="17thzo">
                <h6>thzo</h6>
            </li>
            <li class="18ain">
                <h6>ain</h6>
            </li>
            <li class="19ghoin">
                <h6>ghoin</h6>
            </li>
            <li class="20fa">
                <h6>fa</h6>
            </li>
            <li class="21qof">
                <h6>qof</h6>
            </li>
            <li class="22kaf">
                <h6>kaf</h6>
            </li>
            <li class="23lam">
                <h6>lam</h6>
            </li>
            <li class="24mim">
                <h6>mim</h6>
            </li>
            <li class="25nun">
                <h6>nun</h6>
            </li>
            <li class="26waw">
                <h6>waw</h6>
            </li>
            <li class="27ha">
                <h6>ha</h6>
            </li>
            <li class="28ya">
                <h6>ya</h6>
            </li>
        </ul>
    </div>
   </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/game.js"></script>
    
</body>
</html>