<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../assets/custom/style.css">

    <title>Halaman Kuis</title>
</head>
<body>
    <div class="container">
    <!-- <a href="game.html">back</a> -->
    <div class="card mb-3 mt-5 mx-auto" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../assets/img/1alif.jpg" class="card-img jumbo" alt="..." style="border:5px #FFC107 solid;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Alif</h5>
            <p class="card-text tlatin">Makna Latin: A, I, U</p>
            <p class="card-text cbaca">Cara Baca: Makhroj tenggorokan yang terjauh</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="" style="margin-top: 70px;">
        <button class="tmulai btn btn-success mb-2">Mulai Game &raquo;</button>
    </div>

    <div class="thumbnail" style="padding: 2px;">
        <img src="../assets/img/1alif.jpg" class="alif">
        <img src="../assets/img/2ba.jpg" class="ba">
        <img src="../assets/img/3ta.jpg" class="ta">
        <img src="../assets/img/4tsa.jpg" class="tsa">
        <img src="../assets/img/5jim.jpg" class="jim">
        <img src="../assets/img/6kha.jpg" class="kha">
        <img src="../assets/img/7kho.jpg" class="kho">
        <img src="../assets/img/8dal.jpg" class="dal">
        <img src="../assets/img/9dzal.jpg" class="dzal">
        <img src="../assets/img/10ro.jpg" class="ro">
        <img src="../assets/img/11zai.jpg" class="zai">
        <img src="../assets/img/12sin.jpg" class="sin">
        <img src="../assets/img/13syin.jpg" class="syin">
        <img src="../assets/img/14shot.jpg" class="shot">
        <img src="../assets/img/15dhod.jpg" class="dhod">
        <img src="../assets/img/16tho.jpg" class="tho">
        <img src="../assets/img/17thzo.jpg" class="thzo">
        <img src="../assets/img/18ain.jpg" class="ain">
        <img src="../assets/img/19ghoin.jpg" class="ghoin">
        <img src="../assets/img/20fa.jpg" class="fa">
        <img src="../assets/img/21qof.jpg" class="qof">
        <img src="../assets/img/22kaf.jpg" class="kaf">
        <img src="../assets/img/23lam.jpg" class="lam">
        <img src="../assets/img/24mim.jpg" class="mim">
        <img src="../assets/img/25nun.jpg" class="nun">
        <img src="../assets/img/26waw.jpg" class="waw">
        <img src="../assets/img/27ha.jpg" class="ha">
        <img src="../assets/img/28ya.jpg" class="ya">
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/materi.js"></script>
    
</body>
</html>